@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    width: 400px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
}

.title-form{
    background-color: #0944af;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: 'Nerko One';
    font-weight: 100;
}

.title-user{
    font-size: 20px;
    padding: 5px 10px; 
    font-family: 'Nerko One';
}

.user{
    width: 90%;
    padding: 10px;
    border: none;
    margin-left: 10px;
}

.title-pass{
    font-size: 20px;
    padding: 5px 10px; 
    font-family: 'Nerko One';
}

.pass{
    width: 90%;
    padding: 10px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn{
    width: 200px;
    margin:0 auto 10px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Nerko One';
    cursor: pointer;
}

.btn:hover{
    background-color:#0944af;
    color: #fff;
}


.error{
    background-color: #e01616e1;
    width: 90%;
    margin: 5px auto;
    font-size:18px;
    color: #fff;
    padding: 10px;
}

.correcto{
    background-color: #00f6ab;
    width: 90%;
    margin: 5px auto;
    color: red;
    padding: 10px;
}
